{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "<Your Key Here>",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "<Your App Insights Connection String Here>",
    "EH_CONN_STR": "<Your Event Hub Namespace Connect String Here>",
    "COSMOS_ENDPOINT": "<Your Cosmos Endpoint Here>",
    "COSMOS_KEY": "<Your Cosmos Key Here>",
    "DATABASE_NAME": "Orders",
    "MAX_BATCH_SIZE_IN_MB": 2,
    "MAX_BATCH_ITEM_COUNT": 100
  }
}