{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "EHNS_CONN_STRING": "{EventHubNamespaceConnStringHere}",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "{AppInsightsConnStringHere}",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "{AppInsightsKeyHere}",
    "COSMOS_DATABASE_NAME": "Orders",
    "COSMOS_CONTAINER_NAME": "Items",
    "COSMOS_ENDPOINT": "{CosmosUriHere}",
    "COSMOS_KEY": "{CosmosKeyHere}",
    "INGEST_EH_NAME": "ingest",
    "TRANSFORM_EH_NAME": "transform",
    "PARTITION_COUNT": 10,
    "MAX_BATCH_SIZE_IN_MB": 2,
    "MAX_BATCH_ITEM_COUNT": 100
  }
}