<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://msft-transform-eus-fa-generate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7029af60-98ff-4083-96c0-695eba78c91b/resourceGroups/msft-transform-eus-rg/providers/Microsoft.Web/sites/msft-transform-eus-fa-generate</ResourceId>
    <UserName>$msft-transform-eus-fa-generate</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://msft-transform-eus-fa-generate.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>